{{#*inline "main"}}
  <main class="container">
    <h1>Birthdays</h1>
    {{#if today}}
      <h2>Today</h2>
      {{> character_list characters=today}}
    {{/if}}

    {{#if within_thirty_days}}
      <h2>Next 30 days</h2>
      {{> character_list characters=within_thirty_days}}
    {{/if}}

    {{#if future}}
      <h2>Future</h2>
      {{> character_list characters=future}}
    {{/if}}
  </main>
{{/inline}}
{{> layout}}
