{{#*inline "main"}}
  <main class="container">
    <nav aria-label="breadcrumb">
      <ul>
        <li><a href="/">Waifu Calendar</a></li>
        <li><a aria-current="page">{{username}}</a></li>
      </ul>
    </nav>

    <h1>Birthdays</h1>

    <section>
      <h2>Today</h2>
      {{#if today}}
        {{> character_list_today characters=today}}
      {{else}}
        <p>None of your favorite characters have birthdays today.</p>
      {{/if}}
    </section>

    <section>
      <h2>Next 30 days</h2>
      {{#if within_thirty_days}}
        {{> character_list characters=within_thirty_days}}
      {{else}}
        <p>None of your favorite characters have birthdays within the next thirty days.</p>
      {{/if}}
    </section>

    <section>
      <h2>Next year</h2>
      {{#if future}}
        {{> character_list characters=future}}
      {{else}}
        <p>None of your favorite characters have birthdays within the next year.</p>
      {{/if}}
    </section>
  </main>
{{/inline}}
{{> layout}}
