{{#*inline "main"}}
  <main class="container">
    <hgroup>
      <h1>Waifu Calendar</h1>
      <p>Never miss best girl's birthday</p>
    </hgroup>
    <form method="GET">
      <label>
        AniList username
      <input id="username-field" name="username" autocomplete="username" type="text" minlength="3" required />
      </label>
      <button type="submit" formaction="/cal">View Calendar</button>
      <button type="submit" formaction="/ics">Download ICS</button>
    </form>
  </main>
{{/inline}}
{{> layout}}
