<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WaifuCalendar</title>

  <meta name="description" content="Never miss Best Girl's birthday.">

  <meta property="og:url" content="https://waifu-calendar.fly.dev/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="WaifuCalendar">
  <meta property="og:description" content="Never miss Best Girl's birthday.">
  <meta property="og:image" content="https://waifu-calendar.fly.dev/assets/frieren.jpg">

  <meta name="twitter:card" content="summary">
  <meta property="twitter:domain" content="waifu-calendar.fly.dev">
  <meta property="twitter:url" content="https://waifu-calendar.fly.dev/">
  <meta name="twitter:title" content="WaifuCalendar">
  <meta name="twitter:description" content="Never miss Best Girl's birthday.">
  <meta name="twitter:image" content="https://waifu-calendar.fly.dev/assets/frieren.jpg">

  <link rel="stylesheet" href="/assets/pico.min.css">
  <link rel="author" href="humans.txt" />
</head>

<body>

  {{> main}}

  <footer style="text-align: center;">
    Made with ❤️ and 🍣 by
    <a href="https://github.com/Cantido" target="_blank" rel="external noreferrer noopener">Rosa</a>
    &middot;
    <a href="https://mit-license.org/" target=_blank" rel="license external noreferrer noopener">MIT License</a>
    &middot;
    Please report any bugs to <a href="https://github.com/Cantido/waifu-calendar" target="_blank" rel="external noreferrer noopener">GitHub</a>.
  </footer>
</body>

</html>
