<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WaifuCalendar</title>

  <link rel="stylesheet" href="/assets/pico.min.css">
</head>

<body>

  {{> main}}

</body>

</html>
